.container {
  display: flex;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  position: relative;
}
.img {
  object-fit: contain;
  /* flex-direction: row; */
}

.formContainer {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
}

.submit {
  display: flex;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  justify-content: center;
  height: 50px;
}