@tailwind base;
@tailwind components;
@tailwind utilities;

.background, #background2 {
    background-image: url('/images/loginScreen.png');
    background-size: cover;
}


body {
    color: whitesmoke;
    background-image: url('/images/loginScreen.png');
    background-size: cover;
}

a {
    color: yellow;
}

.container {
    background-color: red;
    width: auto;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}