@tailwind base;
@tailwind components;
@tailwind utilities;

.background, #background2 {
    background-image: url('/images/loginScreen.png');
    background-size: cover;
}


body {
    background-image: url('/images/loginScreen.png');
    background-size: cover;
}