.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-left: 10px;
  border: 1px solid white;
  border-color: white;
  padding: 1px 5px 1px 5px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 20%;
  max-width: auto;
  max-height: auto;
  /* border: 1px solid white; */
  margin: 20px auto;
  padding: 1px 5px 1px 5px;
}

.container {
  width: 100%;
  /* border: 1px solid white; */
}
